<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryMngSys</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="~/InventoryMngSys.styles.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        *{
            margin : 0;
            padding : 0;
            box-sizing : border-box;
        }
        body{
            background-color: #0E1624;
            color: #99A1AF;
        }
    </style>
</head>
<body>
    <nav class="bg-red-100 text-black h-[10vh] flex items-center justify-between p">
        <div class="w-[1/4] bg-green-100"><h3 class="text-xl">⚡SwiftBuy⚡</h3></div>
            <ul class="flex w-[2/4]">
                <li>Home</li>
                <li>Shop</li>
                <li>Contact</li>
                <li>About</li>
            </ul>
        <div class="w-[1/4] bg-green-100">
            <i class="fas fa-shopping-cart"></i>
            <i class="fas fa-user"></i> 
        </div>
        </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - InventoryMngSys - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
