@using Microsoft.AspNetCore.Http;

@{
    ViewBag.Username = Context.Session.GetString("Username");
    ViewBag.UserId = Context.Session.GetString("UserId");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryMngSys</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@

    <!-- Google Fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="~/InventoryMngSys.styles.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        *{
            margin : 0;
            padding : 0;
            box-sizing : border-box;
        }
        body{
            background-color: white;
            color: black;
            font-family: "Roboto", sans-serif;
            /* padding: 0 50px 0 50px; */
        }
    </style>
</head>
<body>
    <div class="min-h-screen">

        <nav class="min-h-[15%] px-[2rem] py-[1rem] flex items-center justify-between border-b-2 border-solid border-[#99A1AF] px-4">
            <div class="flex-1 "><h3 class="text-xl font-bold">⚡SwiftBuy⚡</h3></div>
            <ul class="flex flex-1 space-x-8 justify-center ">
                <li class="text-black text-lg font-bold"><a class="hover:text-orange-600" href="/Home/Index"> Home </a></li>
                <li class="text-lg font-bold"> <a class="hover:text-orange-600" href="/Products/AllProducts"> Products </a> </li>
                <li class="text-lg font-bold"><a class="hover:text-orange-600" href="/Home/Contact"> Contact </a></li>
                <li class="text-lg font-bold"><a class="hover:text-orange-600" href="/Home/About"> About </a></li>
                <li class="text-lg font-bold"><a class="hover:text-orange-600" href="/Admin/Index"> Admin </a></li>
            </ul>
            <div class="flex justify-end flex-1 ">
                <div class=" relative flex items-center">
                    <div>
                        <a href="/Cart/">
                            <i class="fas fa-shopping-cart text-xl pr-10 hover:text-orange-600"></i>
                        </a>
                        
                    </div>
                    <div class="absolute top-0 left-4 bg-red-600 w-[20px] h-[20px] rounded-full text-white text-center">
                          <p>0</p>
                    </div>
                </div>

                <!-- User Info with Hover Tooltip -->
                <div class="relative group">
                    <div class="mt-1 mr-8">
                        <i class="fas fa-user text-lg cursor-pointer text-xl hover:text-orange-600"></i>
                    </div>
                    <!-- ToolTip -->
                    <div class="absolute top-12 right-0 z-10 invisible grid gap-2 p-5 text-white min-w-[180px] rounded-lg bg-black text-white
                                group-hover:visible transition-all duration-300">
                        <div class="flex justify-between items-center">
                            <span>ID : </span>
                            <span>@ViewBag.UserId</span>
                        </div>
                           <hr />
                        <div class="flex justify-between items-center">
                            <span>username :</span>
                            <span>@ViewBag.Username</span>
                        </div>
                    </div>

                    <!--Tooltip arrow-->
                    <div class=" absolute top-10 right-15  z-[999] invisible group-hover:visible bg-black 
                                w-4 h-4 transition-all duration-300 transform rotate-45"></div>

                </div>
                
                @if (ViewBag.Username != null)
                {
                    <div>
                        <button class="bg-red-600 hover:bg-red-800 text-white p-2 rounded-md cursor-pointer">
                            <a asp-controller="Home" asp-action="Logout">Logout</a>  
                        </button>
                    </div>
                }

            
            </div>
        </nav>
            
        <main role="main" class="pb-1">
                @RenderBody()
            </main>

        <footer class=" py-4 border-t border-[#99A1AF]">
            <div class="container mx-auto text-center">
                &copy; 2025 - SwiftBuy - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="font-bold hover:text-orange-600 transition">Privacy</a>
            </div>
        </footer>

    </div>
    
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
