@model InventoryMngSys.Models.User;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryMngSys</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="~/InventoryMngSys.styles.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #0f172a;
            color: #99A1AF;
            padding: 0 50px 0 50px;
        }
    </style>
</head>
<body class="bg-slate-950">

    <nav class="h-[10vh] flex items-center border-b border-[#99A1AF]">
        <div class="flex-1 "><h3 class="text-xl font-bold">⚡SwiftBuy⚡</h3></div>
        <div class="flex justify-end space-x-6 flex-1">
            <i class="fas fa-user"></i>
        </div>
    </nav>

    <div class=" h-[90vh] flex flex-col gap-7 justify-center items-center">
        <div>
            <h1 class="font-bold text-2xl">Create Account</h1>
         </div>
        
        <form asp-controller="UserAuth" asp-action="Signup" method="post" class="flex flex-col gap-5">
            <div class="flex flex-col gap-1">
                <input class="w-[20rem] pl-3 pt-3 pb-3 rounded-md text-black outline-none"
                       type="text" placeholder="Full Name" asp-for="FullName" value="" />
                <span class="text-red-800" asp-validation-for="FullName"></span>
            </div>

            <div class="flex flex-col gap-1">
                <input class="w-[20rem] pl-3 pt-3 pb-3 rounded-md text-black outline-none"
                       type="text" placeholder="Username" asp-for="Username" value="" />
                <span class="text-red-800" asp-validation-for="Username"></span>
            </div>
            <div class="flex flex-col gap-1">
                <input class="w-[20rem] pl-3 pt-3 pb-3 rounded-md text-black outline-none"
                       type="email" placeholder="Email" asp-for="Email" value="" />
                <span class="text-red-800" asp-validation-for="Username"></span>
            </div>
            <div class="flex flex-col gap-1">
                <input class="w-[20rem] pl-3 pt-3 pb-3 rounded-md text-black outline-none"
                       type="password" placeholder="Password" asp-for="Password" value="" />
                <span class="text-red-800" asp-validation-for="Password"></span>
            </div>
            <div class="hidden">
                <input class="hidden w-[20rem] pl-3 pt-3 pb-3 rounded-md text-black outline-none"
                       placeholder="UserType" asp-for="UserType" value="Customer" />
            </div>

            <button type="submit" class="p-2 bg-blue-800 rounded-md">
                Signup
            </button>
        </form>
        <div>
            <h3 class="font-bold text-lg">Already Have Account? <a class="hover:text-orange-500" href="/UserAuth/Login">Login</a></h3>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
